body
{
	background-image: url("background.webp"); 
	margin:0px;
	padding: 0px;
	font-size:20px;
	font-family:purisa;
}
.fill
{
	position:absolute;
	background-color:#545446;
	margin:2% 0px;
	width: 10.5%;
	height:100px;
}
.submit
{	
	margin : 1% auto 2% auto;
	padding : 1.75% 2%;
	width : 75%;
	height: 200px;
	background-image: url("div_background.png");
	background-color: white;
	box-shadow : 1px 1px 5px 5px #ccc;
	border-radius: 5px;
}
.heading_sur
{
	float:left;
	margin:0px;
	padding : 0%;
	height:200px;
	width:25%;
	background-color:#707059;
	background-image: url("logo.jpg");
	background-position-x:-20px;
}
.heading
{
	margin:0px 0px 0px -8px;
	text-align: center;
	vertical-align: center;
	font-size:45px;
	line-height: 1.125;
	font-family:Arial;
	text-transform: uppercase;
	color:grey;
	text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
.form
{
	float:left;
	width:60%;
	height:100px;
	margin: 0px 0px 0px 15%;
	font-size: 28px;
}
.text_area
{
	width: 75%;
	height: 60px;
	border-radius: 5px;
	font-size:25px;
	padding-left: 5px;
	background-color: grey;
	color:red; 
	box-shadow: inset 0px 0px 10px black;
}
#button
{
	background-image: -webkit-linear-gradient(bottom.black,white);
	width:15%;
	height:30px;
	margin: 0px 0px 10px 10px;
	font-size:20px;
}
.php_data_todo
{
	float:left;
	margin : 1% 0% 2% 10.5%;
	padding : 1.75% 2%;
	width : 35%;
	height: auto;
	background-image: url("div_background.png");
	background-color: white;
	border-radius: 5px;
	box-shadow : 1px 1px 5px 5px #ccc;	
}
.php_data_done
{
	float:right;
	margin : 1% 10.5% 2% 0%;
	padding : 1.75% 2%;
	width : 35%;
	height: auto;
	background-image: url("div_background.png");
	background-color: white;
	border-radius: 5px;
	box-shadow : 1px 1px 5px 5px #ccc;
}
.container
{
	margin: 25px 50px 25px 50px;
	padding: 10px;
	border-radius: 8px;
/*	box-shadow: 0px 0px 35px #888;*/
	width:auto;
	height:auto;
	border: 1px solid #888;
	overflow-y:hidden; 
	background-color: #444;
}
.type
{
	color:#89bdff;
}
hr
{
	background-color:grey;
	width:75%;
	margin:auto;	
	/*box-shadow: 0px 0px 5px 5px black;*/
}
.cross
{
	float:right;
}
.editb
{
	float:right;
}
.edit_box
{
	border-radius: 5px;
	background-color: grey;
	box-shadow: inset 0px 0px 10px black;
}